<meta charset="UTF-8">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p v-if="isLoggedIn">Logged user: {{ name }}</p>
    <p v-else-if="incognito">Incognito mode</p>
    <p v-else>No user logged in</p>
    <button @click="isLoggedIn = !isLoggedIn">
        {{isLoggedIn ? 'Logout' : 'Login'}}
    </button>
    <input type="checkbox" v-model="incognito"/>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'John Doe',
            isLoggedIn: false,
            incognito: false
        }
    })
</script>