<meta charset="UTF-8" />

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app1">
  <counter1></counter1>
  <counter1></counter1>
</div>

<hr />

<div id="app2">
  <counter2></counter2>
  <counter2></counter2>
</div>

<script>
  //Local Registration
  const counter = {
    template: `
                <div>
                    <span> Counter: {{counter}} </span>
                    <button @click="counter++">Add</button>
                    <button @click="counter--">Remove</button>
                </div>
            `,
    data() {
      return {
        counter: 0,
      };
    },
  };

  new Vue({
    el: "#app1",
    components: {
      counter1: counter,
    },
  });

  new Vue({
    el: "#app2",
    components: {
      counter2: counter,
    },
  });
</script>
